table.subscribedCityUsers > .MuiTableCell-body > .circle {
  padding: 0;
}

.subscribedCityUsers > tr > td {
  padding: 10px !important;
}

.subscribedCityUsers__circle {
  padding: 0 !important;
}

.subscribedCityUsers__arrow {
  padding: 10px !important;
  padding-right: 1px !important;
}

td.MuiTableCell-body > p {
  font-size: 0.86em;
  white-space: nowrap;
  text-wrap: nowrap;
}

.subscribedCityUsers__innerTableLab.MuiTypography-root {
  padding-left: 2px !important;
  padding-top: 10px !important;
  font-weight: 500 !important;
}

.subscribedCityUsers__tableRow {
  background-color: #ff20200c;
}

.subscribedCityUsers__displayName {
  font-weight: 600 !important;
  width: 100px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  color: #0050efa2;
}

.subscribedCityUsers__noPaddingLeft {
  padding-left: 5px !important;
}

.subscribedCityUsers__paddingLeft {
  padding-left: 16px !important;
}
