.circle__withBorder {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}

.circle__grey {
  border: solid #808080 3px;
  background: #80808044;
}

.circle__green {
  border: solid #00d061 3px;
  background: #00d06144;
}

.circle__blue {
  border: solid #0050ef 3px;
  background: #0050ef44;
}

.circle__pulsingAnimation {
  position: absolute;
  border: solid #0050ef 3px;
  background: #0050ef44;

  border-radius: 50%;

  animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

/* div.MuiSelect-root > div.circle {
  display: none !important;
} */

div.MuiSelect-root > span {
  display: none !important;
}

@keyframes scaleIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.1;
  }
}
