/* .cityEdit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 30px !important;
  padding: 20px;
  height: 40px;
  touch-action: none;
  justify-content: space-around;
} */

.cityEdit {
  margin: 20px;
  max-height: 430px;
  /* overflow: hidden auto; */
}

.cityEdit > .cityEdit__container {
  display: flex;
}

.cityEdit__container > .cityEdit__left,
.cityEdit__container > .cityEdit__right {
  width: 50%;
}
/* .cityEdit__container > .cityEdit__left {
  width: 50%;
}
.cityEdit__container > .cityEdit__right {
  width: 50%;
} */

.cityEdit__left > .cityEdit__selectField {
  display: flex;
  align-items: center;
}

.cityEdit__selectField > h3 {
  color: rgb(0, 80, 239);
}

.cityEdit__selectField > .MuiFormControl-root {
  margin-left: 20px;
  min-width: 70px;
}

.cityEdit__selectField > .MuiFormControl-root > .MuiInputBase-root {
  height: 40px !important;
}

.cityEdit__selectField > .MuiFormControl-root {
  width: 70px;
}

.cityEdit__left > .cityEdit__checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 0.9em;
}

.cityEdit__checkbox > span {
  padding-left: 0;
}

.cityEdit__left > .cityEdit__datetime {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding-left: 12px; */
  /* width: 180px; */
  gap: 20px;
}

.cityEdit__datetime > form > .MuiFormControl-root {
  width: 210px;
}

.cityEdit__right {
  padding-left: 20px;
  /* height: 180px;
  overflow: scroll; */
}

.cityEdit__right > h4 {
  color: #c00043;
}
