.city {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* width: 100%; */
  padding: 20px;
  /* gap: 20px; */
  touch-action: none;
  justify-content: space-around;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.MuiSvgIcon-colorSecondary {
  color: rgb(225, 0, 0) !important;
}

.MuiSvgIcon-root {
  cursor: pointer;
}
