.util__circleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.util__circleWithBorder {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.util__Grey {
  border: solid #808080 3px;
  background: #80808044;
}

.util__Green {
  border: solid #00d061 3px;
  background: #00d06144;
}

.util__Blue {
  border: solid #0050ef 3px;
  background: #0050ef44;
}

.util__circleWithBorder > span {
  padding-left: 20px;
}

.util__cityInfoName {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.util__cityInfoContainer {
  width: 150px;
}

.util__infoVisited {
}
