.util__circleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.util__circleWithBorder {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.util__circleWithBorder > span {
  padding-left: 20px;
}

.util__Grey {
  border: solid #808080 3px;
  background: #80808044;
}

.util__Green {
  border: solid #00d061 3px;
  background: #00d06144;
}

.util__Blue {
  border: solid #0050ef 3px;
  background: #0050ef44;
}

.util__cityInfoName {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.util__cityInfoContainer {
  width: 150px;
}

.util__cityInfoContainer > div {
  margin-top: 5px;
}

.util__dateInfo {
  display: flex;
}
.util__dateInfo > strong {
  padding-right: 5px;
}

.pulsing-circle {
  /* border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  border: solid #0050ef 3px;
  background: #0050ef44; */

  animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.1;
  }
}
