.citiesList {
  border-radius: 5px;
  /* background-color: #d9d9d9; */
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow: scroll;
  /* height: 350px; */
  /* color: #6a5d5d; */
}

.MuiPaper-root.MuiCard-root {
  overflow: scroll !important;
  height: 350px !important;
  color: #6a5d5d;
}
