.cityItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 30px !important;
  padding: 20px;
  height: 40px;
  touch-action: none;
  justify-content: space-around;
}

.cityItem > .MuiFormControl-root > .MuiInputBase-root {
  height: 40px !important;
}

.cityItem > .MuiFormControl-root {
  width: 70px;
}
