.app__subscribedCityUsers {
  margin-top: 20px;
  margin-bottom: 20px;
}

.map__circleContainer {
  position: relative;
  /* top: 10px; */
}

#contentView__mapContainer {
  background-color: rgb(163, 214, 229);
}

#contentView > hr {
  /* margin: -1px auto 0; */
  color: #d8d8d8;
}

#contentView > h5 > span,
.app__hero > h5 > span {
  color: #ed0000 !important;
}

#contentView > h5 > p {
  display: inline;
  color: #0050ef !important;
}
