.notificationAmountLabel {
  display: inline-block;
  position: absolute;
  /* top: 14px;
  right: -10px; */
  width: 15px !important;
  height: 15px !important;
}
.notificationAmountLabel > .label {
  /* background: #f11008; */
  /* color: white; */
  border-radius: 50%;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  font-size: 0.55em;
  font-weight: 500 !important;
  border-width: 1px !important;

  /* margin-top: -40px; */
}

.circle__withBorder {
  border-radius: 50%;
}

.circle__regular {
  width: 15px !important;
  height: 15px !important;
}

/* .circle__small {
  width: 14px !important;
  height: 14px !important;
} */

.circle__grey {
  border: solid #808080 2px;
  background: #80808044;
}

.circle__green {
  border: solid #01823d 2px;
  background: #00d06144;
}

.circle__blue {
  border: solid #0050ef 2px;
  background: #0050ef44;
}

.circle__pulsingAnimation {
  position: absolute;
  border: solid #0050ef 3px;
  background: #0050ef44;

  border-radius: 50%;

  animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

/* div.MuiSelect-root > div.circle {
  display: none !important;
} */

div.MuiSelect-root > span {
  display: none !important;
}

@keyframes scaleIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.1;
  }
}
