.circlePopup__circleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.circlePopup__circleWithBorder {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.circlePopup__circleWithBorder > span {
  padding-left: 20px;
}

.circlePopup__grey {
  border: solid #808080 2px;
  background: #80808044;
}

.circlePopup__green {
  border: solid #00d061 2px;
  background: #00d06144;
}

.circlePopup__blue {
  border: solid #0050ef 2px;
  background: #0050ef44;
}

.circlePopup__cityInfoName {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.circlePopup__cityInfoContainer {
  width: 150px;
}

.circlePopup__cityInfoContainer > div {
  margin-top: 5px;
}

.circlePopup__dateInfo {
  display: flex;
}
.circlePopup__dateInfo > strong {
  padding-right: 5px;
}

.circlePopup__pulsingCircle {
  /* border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  border: solid #0050ef 3px;
  background: #0050ef44; */

  animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.1;
  }
}
